<div [formGroup]="einrichtung">
  <mat-form-field class="t30-full-width">
    <input matInput placeholder="Name der Einrichtung" formControlName="name" [matAutocomplete]="auto" (ngModelChange)="changeEinrichtungsName($event)">
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayEinrichtungsName" (optionSelected)="setAcEinrichtung($event)">
    <mat-option *ngIf="isLoading" class="is-loading">
      <mat-spinner diameter="50"></mat-spinner>
    </mat-option>
    <ng-container *ngIf="!isLoading">
      <mat-option *ngFor="let einr of filteredUsers" [value]="einr">
        <span>{{ einr.Name }}</span>
        <small>|{{einr.Strasse}} {{einr.Nummer}}|{{einr.PLZ}} Hamburg |{{einr.Bezirk}}| (Nr. {{einr.id}})</small>
      </mat-option>
    </ng-container>
  </mat-autocomplete>
  <mat-form-field class="t30-full-width">
    <input matInput placeholder="ggf. anderer Standort/ Zweigstelle/ Nebengebäude" formControlName="zusatz">
    <mat-hint>
      z.B. wenn es drei Standorte gibt und bei zweien Tempo 30 Sinn macht,
      dann bitte für jeden von diesen einen eigenen Antrag ausfüllen und hier jeweils die Bezeichnung des Standortes angeben
    </mat-hint>
  </mat-form-field>

  <mat-form-field class="t30-full-width">
    <mat-select placeholder="Art der Einrichtung" formControlName="art">
      <mat-option value="1">Kindergaten</mat-option>
      <mat-option value="2">Schule</mat-option>
      <mat-option value="3">Alten- und Pflegeheim / Tagespflege</mat-option>
      <mat-option value="4">Krankenhaus</mat-option>
    </mat-select>
  </mat-form-field>
  <b>Adresse der Einrichtung</b>
  <mat-form-field class="t30-full-width">
    <input matInput placeholder="Straße und Hausnummer" formControlName="strasse">
  </mat-form-field>
  <div>
    <mat-checkbox formControlName="t50">Mindestens ein Ausgang dieser Einrichtung mündet an einer Straße mit hoher Geschwindigkeit (mehr als Tempo 30)</mat-checkbox>
  </div>
  <div *ngIf="!(einrichtung.get('t50').value)">
    <mat-icon color="warn">warning</mat-icon> Dann sind die Vorraussetzungen gemäß StVO nicht gegeben, und sie können keine Patenschaft übernehmen
  </div>
  <mat-form-field class="t30-full-width">
    <textarea placeholder="an Einrichtung grenzende Straßen, in denen Tempo 30 eingeführt werden soll" class="t30-t50-area" matInput formControlName="t50strassen" >
    </textarea>
    <mat-hint>ggf.  Hausnummern "Nr. ... bis ... " ergänzen"</mat-hint>
  </mat-form-field>
  <mat-form-field class="t30-half-width">
    <input matInput placeholder="PLZ" formControlName="plz">
  </mat-form-field>
  <mat-form-field class="t30-half-width">
    <input matInput placeholder="Ort" formControlName="ort">
  </mat-form-field>
  <div class="t30-full-width-flex">
    <div class="t30-map-div">
      <yaga-map class="t30-map" zoom="17" [(lat)]="mapLat" [(lng)]="mapLon" (dblclick)="mapDblClick($event)">
        <yaga-tile-layer [(url)]="tileLayerUrl"></yaga-tile-layer>
        <yaga-zoom-control></yaga-zoom-control>
        <yaga-circle *ngIf="isMarkerMoved()" [(lat)]="lat" [(lng)]="lon" radius="5" fillColor="blue" color="blue">
          </yaga-circle>
        <yaga-marker [(lat)]="newLat" [(lng)]="newLon" (moveend)="mapMoveEnd();" draggable="true">
          <yaga-icon iconUrl="assets/marker-icon.png" shadowUrl="assets/marker-shadow.png" [(iconSize)]="marker.iconSize" [(iconAnchor)]="marker.iconAnchor" [(popupAnchor)]="marker.popupAnchor" [(tooltipAnchor)]="marker.tooltipAnchor" [(shadowSize)]="marker.shadowSize"></yaga-icon>
        </yaga-marker>
      </yaga-map>
      <mat-hint>Bitte ggf. Position korrigiren: Marker mit der Maus verschieben oder Doppelkick auf neue Position</mat-hint>
    </div>
   <div class="t30-daneben-div">
     <div *ngIf="isMarkerMoved()">
       Soll die Position wirklich von der Kreisposition auf den Marker geändert werden?
       <br>
         <button mat-raised-button color="primary" (click)="posAenderung()">
            <mat-icon>location_on</mat-icon> Ja
          </button>
          <button mat-raised-button color="basic" (click)="posReset()">
             <mat-icon>undo</mat-icon> Nein
           </button>


     </div>
    </div>
  </div>
  <mat-form-field class="t30-full-width">
    <input matInput placeholder="Dein Bezug zur Einrichtung" formControlName="bezugZurEinrichtung">
    <mat-hint>Schülerin, Nachbar, Leiterin, Angehörige, Mitarbeiter...</mat-hint>
  </mat-form-field>
  <p>Bitte informiere ggf. die Einrichtung, dass Du Tempo 30 für sie beantragt hast.</p>
