<button
   mat-raised-button
   *ngIf="(show_view==1)"
   matTooltip="Details ansehen"
   routerLink="/einrichtung/view/{{id}}"
   type="submit">
  <mat-icon>visibility</mat-icon> Details
</button>
<button
   mat-raised-button
  *ngIf="(tempo30==1)"
  matTooltip="Ich möchte hier Tempo 30 fordern."
  routerLink="/einrichtung/t30fordern/{{id}}"
  type="submit">
  <mat-icon>mail</mat-icon>
  <mat-icon>arrow_forward</mat-icon>
  <mat-icon>sentiment_satisfied_alt</mat-icon>
</button>
<button
   mat-raised-button
   matTooltip="Einrichtung bearbeiten oder Fehler korrigieren"
   routerLink="/einrichtung/edit/{{id}}"
   type="submit">
   <mat-icon>edit</mat-icon> Bearbeiten
</button>
