<form [formGroup]="t30pate">
  <mat-accordion>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" formGroupName="patenschaft">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon *ngIf="(!(t30pate.get('einrichtung').valid)) && displayValidatorMarker" color="warn">error_outline</mat-icon>
          <mat-icon *ngIf="(t30pate.get('einrichtung').valid && displayValidatorMarker)" class="t30-yes">check_circle_outline</mat-icon>
          <mat-icon>business</mat-icon>
         <mat-icon *ngIf="!(t30pate.get('einrichtung.t50').value)" color="warn">warning</mat-icon>
         Einrichtung
        </mat-panel-title>
        <mat-panel-description> Angaben zur Einrichtung
        </mat-panel-description>
      </mat-expansion-panel-header>
       <app-t30soziale-einrichtung [einrichtung]="t30pate.get('einrichtung')">
      </app-t30soziale-einrichtung>
      <mat-action-row>
        <button mat-button color="primary"  (click)="nextStep()">
          <mat-icon>send</mat-icon> weiter
        </button>
      </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" formGroupName="patenschaft">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon *ngIf="(!(t30pate.get('patenschaft').valid)) && displayValidatorMarker" color="warn">error_outline</mat-icon>
          <mat-icon *ngIf="(t30pate.get('patenschaft').valid && displayValidatorMarker)" class="t30-yes">check_circle_outline</mat-icon>
          <mat-icon>insert_comment</mat-icon> Aktion
        </mat-panel-title>
        <mat-panel-description> Angaben zur Aktion
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="t30-full-width">
        <input matInput placeholder="Dein Bezug zur Einrichtung" formControlName="bezugZurEinrichtung">
        <mat-hint>Schülerin, Nachbar, Leiterin, Angehörige, Mitarbeiter...</mat-hint>
      </mat-form-field>
      <p>Bitte informiere ggf. die Einrichtung, dass Du Tempo 30 für sie beantragt hast.</p>
      <mat-form-field class="t30-full-width">
        <textarea matInput placeholder="Stand der Dinge" formControlName="standDerDinge"></textarea>
        <mat-hint> Sind sie schon in Kontakt mit der Einrichtung, mit der Polizei, hat ein Politiker dafür/dagegen etwas gesagt?</mat-hint>
      </mat-form-field>
      <mat-action-row>
        <button mat-button (click)="prevStep()">
          <mat-icon>navigate_before</mat-icon>zurück
        </button>
        <button mat-raised-button *ngIf="t30pate.get('mailSend').value" color="primary" (click)="onSave(2, false)">
          <mat-icon>save</mat-icon> Speichern
        </button>
        <button mat-button *ngIf="!(t30pate.get('mailSend').value)" color="primary"  (click)="nextStep()">
          <mat-icon>email</mat-icon> weiter
        </button>
      </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" formGroupName="email">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon *ngIf="(!t30pate.get('email').valid) && displayValidatorMarker" color="warn">error_outline</mat-icon>
            <mat-icon *ngIf="(t30pate.get('email').valid) && displayValidatorMarker" class="t30-yes">check_circle_outline</mat-icon>
            <mat-icon>email</mat-icon> Forderungsmail
            <mat-icon *ngIf="t30pate.get('mailSend').value" class="t30-yes">done</mat-icon>
          </mat-panel-title>
          <mat-panel-description>
            Forderungsmail an das zuständige Polizeikommissariat, der Bezirksversammlung und der Verkehrsbehörde zur Kenntnis
          </mat-panel-description>
        </mat-expansion-panel-header>
            <div><b>Von:</b>
              {{ authenticationService.getCurrentUser().firstName }}
              {{ authenticationService.getCurrentUser().lastName  }}
              &lt;{{ authenticationService.getCurrentUser().eMail }}&gt;
            </div>
            <div><b>An:</b> Polzei Hamburg &lt;polizei@example.com&gt;</div>
            <div><b>CC:</b> ADFC Hamburg &lt;laeuft@hamburg.adfc.de&gt;</div>
            <div *ngIf="t30pate.get('mailSend').value"><mat-icon>report</mat-icon><b>Die E-Mail wurde bereits verschickt und kann nicht mehr bearbeitet werden</b></div>
            <mat-form-field class="t30-full-width">
              <input matInput placeholder="Betreff" formControlName="subject" readonly="t30pate.get('mailSend').value">
            </mat-form-field>
            <mat-form-field class="t30-full-width">
              <textarea class="t30-email-area" matInput formControlName="mailtext" placeholder="E-Mail" readonly="t30pate.get('mailSend').value">
            </textarea>
            </mat-form-field>
        Durch das Absenden aktzeptieren Sie die Datenschutzvereinbarung mit dem ADFC Hamburg.
        <mat-action-row>
          <button mat-button (click)="prevStep()">
            <mat-icon>navigate_before</mat-icon>zurück
          </button>
          <button mat-raised-button *ngIf="!(t30pate.get('mailSend').value)" color="primary" (click)="onSave(2, false)">
            <mat-icon>save</mat-icon> Speichern und später weiter bearbeiten
          </button>
          <button mat-raised-button *ngIf="!(t30pate.get('mailSend').value)" color="accent" (click)="onSave(2, true)">
            <mat-icon>email</mat-icon> E-Mail Absenden
          </button>
        </mat-action-row>
      </mat-expansion-panel>
  </mat-accordion>
</form>
