<div class='hgroup'>
  <h1>Anmelden</h1>
  <h3>ADFC Tempo 30 vor sozialen Einrichtungen</h3>
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput type="email" placeholder="E-Mail" autocomplete="email" formControlName="email" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Passwort" autocomplete="current-password" formControlName="password" required>
  </mat-form-field>
        <mat-checkbox formControlName="passwordResend">
            Ich habe mein Passwort vergessen.
            </mat-checkbox>

  <mat-action-row>
    <button mat-raised-button color="primary" type="submit">
      <mat-icon>send</mat-icon> Anmelden
      </button>
      <button mat-raised-button colort="accent" routerLink="/register"><mat-icon>person_add</mat-icon>Registrieren</button>
  </mat-action-row>
  <mat-spinner *ngIf="loading"> </mat-spinner>
</form>
