<p>Hallo, Du bist angemeldet. </p>
  <h2>Meine Tempo 30 Eingaben</h2>
  <table mat-table [dataSource]="patenList" matSort class="mat-elevation-z8">
     <ng-container matColumnDef="name">
       <!-- TODO mat-sort-header does not work -->
       <th mat-header-cell *matHeaderCellDef> Einrichtung </th>
       <td mat-cell *matCellDef="let pate"> {{pate.einrichtung.name}} {{pate.einrichtung.zusatz}} </td>
     </ng-container>
     <ng-container matColumnDef="strasse">
       <th mat-header-cell *matHeaderCellDef> Straße </th>
       <td mat-cell *matCellDef="let pate"> {{pate.einrichtung.strasse}}  </td>
     </ng-container>
     <ng-container matColumnDef="plz">
       <th mat-header-cell *matHeaderCellDef> PLZ </th>
       <td mat-cell *matCellDef="let pate"> {{pate.einrichtung.plz}}  </td>
     </ng-container>
     <ng-container matColumnDef="ort">
       <th mat-header-cell *matHeaderCellDef> Ort </th>
       <td mat-cell *matCellDef="let pate"> {{pate.einrichtung.ort}}  </td>
     </ng-container>
     <ng-container matColumnDef="aktion">
       <th mat-header-cell *matHeaderCellDef> Aktionen </th>
       <td mat-cell *matCellDef="let pate">
         <button mat-raised-button color="primary" routerLink="/patenschaft/{{pate.id}}" type="submit">
            <mat-icon>edit</mat-icon>
        </button>
      </td>
     </ng-container>
     <ng-container matColumnDef="status">
       <th mat-header-cell *matHeaderCellDef> Status </th>
       <td mat-cell *matCellDef="let pate">
         <span *ngIf="pate.mailSend"><mat-icon>check_box</mat-icon>E-Mail wurde verschickt</span>
         <span *ngIf="!(pate.mailSend)"><mat-icon>check_box_outline_blank</mat-icon>E-Mail als Entwurf gespeichert
           <button mat-raised-button color="primary" routerLink="/patenschaft/{{pate.id}}" type="submit">
              <mat-icon>mail</mat-icon>
          </button>
         </span>
      </td>
     </ng-container>

     <tr mat-header-row *matHeaderRowDef="displayedPatenColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedPatenColumns;"></tr>
  </table>
  <mat-action-row>
  <button mat-raised-button color="primary" routerLink="/patenschaft/-1" type="submit">
      <mat-icon>add_box</mat-icon> Neuen Antrag vorbereiten
  </button>
  </mat-action-row>
  <!-- <h2>Meine Korrekturen</h2>
  <button mat-raised-button color="primary" type="submit">
    <mat-icon>send</mat-icon> Neuen Antrag vorbereiten
    </button> -->
    <h2>Weitere Aktionen</h2>
    <mat-action-row>
      <button mat-raised-button color="primary" routerLink="/profile" type="submit">
        <mat-icon>account_circle</mat-icon>Profil-Daten ansehen/ändern
      </button>
      <button mat-raised-button color="primary" (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>Abmelden
      </button>
    </mat-action-row>
