<p *ngIf="!fehler">Sie erhalten in kürze an Ihre E-Mail einen Link. Bitte schauen sie auch in Ihren Spam Ordner.</p>
<p *ngIf="!fehler">Bitte klicken Sie auf den Link innerhalb von 12h, da wir sonst die Daten wieder löschen.</p>
<p *ngIf="!fehler">Alternativ können sie auch hier den in der E-Mail angebenen Token eingeben:</p>
<p *ngIf="fehler">Der eingebene Token ist ungültig, weil er bereits benutzt wurde oder er falsch eingeben wurde.</p>
<form [formGroup]="tokenForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="t30-half-width">
    <input matInput placeholder="Token" formControlName="token">
  </mat-form-field>
  <mat-action-row>
    <button mat-raised-button color="primary" type="submit">
      <mat-icon>send</mat-icon> Absenden
    </button>
  </mat-action-row>
</form>
