<h2>{{ einrichtung.controls.name.value }}</h2>

FIXME: Hier kommt noch ein Text hin: Fehlendes Tempo30

Bitte setze  die entsprechenden Straßenabschnitte um
<div [formGroup]="einrichtung">
  {{ einrichtung.controls.angrenzendeStrassen.controls.length }}

<ul formArrayName="angrenzendeStrassen"
  *ngFor="let item of einrichtung.controls.angrenzendeStrassen.controls; let i = index;">
  <li [formGroupName]="i">
    {{ item.controls.name.value }}
  {{ item.controls.von.value }} bis
  {{ item.controls.bis.value }}
  (<span *ngIf="item.controls.haupteingang.value == 1">Haupteingang</span>
  <span *ngIf="item.controls.haupteingang.value == 0">kein Haupteingang</span>)

    <mat-form-field class="t30-3-width">
      <mat-select placeholder="Stand der Dinge" formControlName="status">
        <mat-option value="1">Unsicher wie der Stand ist</mat-option>
        <mat-option value="2">Hier ist Tempo 30</mat-option>
        <mat-option value="3">Hier sollte Tempo 30 gefordert werden</mat-option>
        <mat-option value="4">Die Behörde hat abgelehnt Tempo 30 einzuführen</mat-option>
        <mat-option value="5">Tempo 30 wurde angeordnet, die Schilder stehen aber noch nicht</mat-option>
      </mat-select>
    </mat-form-field>

  </li>
</ul>
<hr>
  <mat-action-row>
    <button mat-raised-button color="primary" (click)="onSave()">
      <mat-icon>save</mat-icon> Speichern
    </button>
    <button mat-raised-button  routerLink="/einrichtung/view/{{id}}">
      <mat-icon>undo</mat-icon> Änderungen verwerfen
    </button>
  </mat-action-row>
</div>
