<h2>{{ einrichtung.controls.name.value }}</h2>

<p>
  Hallo, toll dass du uns hier bei Tempo 30 unterstützen willst.
  Bitte prüfe im ersten Schritt die entsprechenden Straßenabschnitte.
</p>

<h3>Angrenzende Straßen</h3>
<div [formGroup]="einrichtung">
<ul formArrayName="angrenzendeStrassen"
  *ngFor="let item of einrichtung.controls.angrenzendeStrassen.controls; let i = index;">
  <li [formGroupName]="i">
    {{ item.controls.name.value }}
  {{ item.controls.von.value }} bis
  {{ item.controls.bis.value }}
  (<span *ngIf="item.controls.haupteingang.value == 1">Haupteingang</span>
  <span *ngIf="item.controls.haupteingang.value == 0">kein Haupteingang</span>)

    <mat-form-field class="t30-status-width">
      <mat-select placeholder="Stand der Dinge" formControlName="status">
        <mat-option value="1">Unsicher wie der Stand ist</mat-option>
        <mat-option value="2">Hier ist Tempo 30</mat-option>
        <mat-option value="3">Hier sollte Tempo 30 gefordert werden</mat-option>
        <mat-option value="4">Die Behörde hat abgelehnt Tempo 30 einzuführen</mat-option>
        <mat-option value="5">Tempo 30 wurde angeordnet, die Schilder fehlen</mat-option>
      </mat-select>
    </mat-form-field>
  </li>
</ul>
</div>

<h3>Stand der Dinge</h3>
<div [formGroup]="patenschaft">
<mat-form-field class="t30-full-width">
  <textarea id="standDerDinge" matInput placeholder="Stand der Dinge" formControlName="standDerDinge"></textarea>
  <mat-hint> Sind sie schon in Kontakt mit der Einrichtung, mit der Polizei, hat ein Politiker dafür/dagegen etwas gesagt?</mat-hint>
</mat-form-field>
<h3>E-Mail</h3>
<div><b>Von:</b>
  {{ getFirstName() }}
  {{ getLastName()  }}
  &lt;{{ getEMail() }}&gt;
</div>
<div><b>An:</b> Polzei Hamburg &lt;polizei@example.com&gt;</div>
<div><b>CC:</b> ADFC Hamburg &lt;laeuft@hamburg.adfc.de&gt;</div>
<!-- div gIf="t30pate.get('mailSend').value"><mat-icon>report</mat-icon><b>Die E-Mail wurde bereits verschickt und kann nicht mehr bearbeitet werden</b></div> -->
<mat-form-field class="t30-full-width">
  <input matInput placeholder="Betreff" formControlName="subject">
</mat-form-field>
<mat-form-field class="t30-full-width">
  <textarea class="t30-email-area" matInput formControlName="mailtext" placeholder="E-Mail">
</textarea>
</mat-form-field>
<hr>
  <mat-action-row>
    <button mat-raised-button color="primary" (click)="onSave()">
      <mat-icon>save</mat-icon> Speichern
    </button>
    <button mat-raised-button  routerLink="/einrichtung/view/{{id}}">
      <mat-icon>undo</mat-icon> Änderungen verwerfen
    </button>
  </mat-action-row>
</div>
